<mat-card>
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="newTodoForm" #todoForm="ngForm" (ngSubmit)="onAdd(todoForm)" >
      <mat-form-field>
        <mat-label>
          Beschreibung
        </mat-label>
        <input matInput formControlName="description" placeholder="Type in a description" />
        <mat-hint>Bitte zwingend Text angeben</mat-hint>
        <!-- <mat-error *ngIf="" -->
      </mat-form-field>
      <mat-card-actions>
        <button type="Submit">Abschicke</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>📝📝 Todo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let open of items | todos: false">
        <mat-checkbox [(ngModel)]="open.checked">
          {{ open.description }}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>📝📝 Done</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let done of items | todos: true">
        <mat-checkbox [(ngModel)]="done.checked">
          {{ done.description }}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
